p{
    margin: 0;
    font-family: Arial;
}
.parent-container{
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 20px;
}
.container{
    width: 200px;
    box-shadow: 0 0 5px black;
}
.profile-picture{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;   
}

.profile-name{
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 4px;
}
.mutual-friends{
    color: gray;
    margin left: 8px;
    margin botton: 8px;
}
.mutual-friends-info{
    display: grid;
    grid-template-columns: 36px 1fr;
    align-items: center;
}
.mutual-friends-picture{
    vertical-align: middle;
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 50%;
}
.add-friends-button{
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 12px;
}